/* Container chính của dịch vụ */
.service-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4; /* Màu nền nhẹ cho cả trang */
  border-radius: 30px;
}

.service-container p{
  font-size: 1.7rem;
  text-align: justify;
}

/* Tiêu đề chính của trang */
.service-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Các mục dịch vụ */
.service-item {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px; /* Cạnh bo tròn hơn */
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng mờ nhẹ */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Hiệu ứng chuyển động mượt mà */
}

/* Tiêu đề dịch vụ */
.service-item h2 {
  margin-top: 20px;
  color: tomato;
  font-size: 1.8rem;
  font-weight: bold;
}

/* Mô tả dịch vụ */
.service-item p {
  color: #666;
  font-size: 1.5rem;
  margin-top: 15px;
  line-height: 1.6; /* Khoảng cách dòng tăng để dễ đọc hơn */
  padding: 20px;
}

/* Ảnh dịch vụ */
.service-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Danh sách điểm nổi bật */
.service-item ul {
  list-style: none;
  margin: 20px 0;
}

.service-item ul li {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #444;
  text-align: justify;
  padding: 0px 20px;
}

.service-item ul li strong {
  color: tomato;
}
